@font-face {
    font-family: 'Geist';
    src: url(../public/font/Geist-VariableFont_wght.ttf);
}

root{
    --tw-gradient-from-position:  ;
    --tw-gradient-to-position:  ;
    --tw-gradient-to: #1e293b var(--tw-gradient-to-position);
    --tw-gradient-from: #0f172a var(--tw-gradient-from-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);}
html{
    background: #0f172a;
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
    color: white;
    font-family: Geist, serif;

}




.header{
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));

}
